<launch>
  <arg name="lang" default="ja" />
  <arg name="engine" default="nict" />

  <node name="rospeex_sr" pkg="rospeex_core" type="rospeex_sr.py" cwd="node">
      <rosparam file="$(find naoqi_rospeex)/config/sr_config.yaml" command="load" />
  </node>
  <node name="dummy_microphone" pkg="naoqi_rospeex" type="dummy_microphone.py" output="screen"/>

  <node name="naoqi_sr" pkg="naoqi_rospeex" type="naoqi_sr.py" output="screen">
    <param name="lang" type="str" value="$(arg lang)" />
    <param name="engine" type="str" value="$(arg engine)" />
  </node>

</launch>
